{
	"plugins": ["prettier-plugin-svelte"],
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 135,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"proseWrap": "always",
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
